<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Thông tin cá nhân</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="keywords" content="Travel Guide, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup 
Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="/static/css/styleinfor.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
			
</head>
<body>
<div class="main-section">

						<div class="heading">
						<h1>Các doanh nhân tương lai</h1>						
						</div>
						<div class="child-main">
							<div class="child-left">
							<img src="/static/images/infor2.jpg" alt="image">
							</div>
							<div class="child-right">
								<h3>Nguyễn Quang Nhật</h3>
								
								<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>D.O.B</b></li>
										<li><span>:</span>12-08-1998</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>PHONE</b></li>
										<li><span>:</span>0858886666</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>ADDRESS</b></li>
										<li><span>:</span>Hà Đông , Hà Nội</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href=""> nguyenquangnhat120898@mail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>Facebook</b></li>
										<li><span>:</span><a href="https://www.facebook.com/Nguyenquangnhat128">Nguyễn Quang Nhật</a></li>
									</ul>
								</li>
							</ul> 

							</div>
								<div class="clear"></div>
						</div>
						<div class="child-main">
							<div class="child-left">
							<img src="/static/images/infor3.jpg" alt="image">
							</div>
							<div class="child-right">
								<h3>Phạm Minh Đức</h3>
								
								<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>D.O.B</b></li>
										<li><span>:</span>16-12-1998</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>PHONE</b></li>
										<li><span>:</span>0904445555</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>ADDRESS</b></li>
										<li><span>:</span>Ba Đình , Hà Nội</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href="">luonleotube@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>Facebook</b></li>
										<li><span>:</span><a href="https://www.facebook.com/ducpham161298">Doanh nhân lươn lẹo</a></li>
									</ul>
								</li>
							</ul> 

							</div>
								<div class="clear"></div>
						</div>
						
						<div class="child-main">
							<div class="child-left">
							<img src="/static/images/infor4.jpg" alt="image">
							</div>
							<div class="child-right">
								<h3>Dương Quang Minh</h3>
								
								<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>D.O.B</b></li>
										<li><span>:</span>10-06-1998</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>PHONE</b></li>
										<li><span>:</span>0905556666</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>ADDRESS</b></li>
										<li><span>:</span>Đống Đa , Hà Nội/li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href=""> bunnyfoufou@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>Facebook</b></li>
										<li><span>:</span><a href="https://www.facebook.com/minh.tittote/timeline?lst=100012754146184%3A100006061574342%3A1557646833">Minh Cò</a></li>
									</ul>
								</li>
							</ul> 

							</div>
								<div class="clear"></div>
						</div>
						
						<div class="child-main">
							<div class="child-left">
							<img src="/static/images/infor5.jpg" alt="image">
							</div>
							<div class="child-right">
								<h3>Nguyễn Hà Minh Trí</h3>
								
								<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>D.O.B</b></li>
										<li><span>:</span>22-07-2001</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>PHONE</b></li>
										<li><span>:</span>0905552222</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>ADDRESS</b></li>
										<li><span>:</span>Hà Nội</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href=""> info@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>Facebook</b></li>
										<li><span>:</span><a href="https://www.facebook.com/fishy.mango.dontaskwhy">Nguyễn Hà Minh Trí</a></li>
									</ul>
								</li>
							</ul> 

							</div>
								<div class="clear"></div>
						</div>
</div>
<div class="footer-w3l">
		<p class="agileinfo"> &copy; 2018 Travel Guide. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>





</body>
</html>